@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
html, body { width: 100%; margin: 0px; padding: 0px; overflow-x: hidden; }

body { background-color: #282c34; color: #ffffff; margin: 0; }

header { background-color: #282c34; padding: 20px 0; position: fixed; top: 0; width: 100%; z-index: 99; }

header nav { margin: 0 auto; width: 888px; }

header nav ul { display: -webkit-box; display: flex; -webkit-box-pack: end; justify-content: flex-end; list-style: none; }

header nav ul li a { color: #fff; font-family: "Lato", sans-serif; font-size: 13.5px; font-weight: 700; letter-spacing: 1.5px; padding: 16px; text-decoration: none; text-transform: uppercase; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

header nav ul li a:hover { color: #d56871; }

header nav ul li:last-child a { background-color: #56b6c2; border: 2px solid #56b6c2; border-radius: 99px; color: #282c34; margin-left: 16px; }

header nav ul li:last-child a:hover { background: rgba(0, 0, 0, 0); color: #56b6c2; }

#splash { border-bottom: 2px solid #4b5364; height: 100vh; width: 100%; }

#splash .content { box-sizing: border-box; left: calc(50vw); padding: 0 24px; position: fixed; top: calc(50vh); -webkit-transform: translate(-50%, -55%); transform: translate(-50%, -55%); width: 888px; z-index: 0; }

#splash .content .intro { -webkit-box-align: start; align-items: flex-start; display: -webkit-box; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }

#splash .content .intro h1 { color: #d56871; font-family: "Source Code Pro", monospace; font-size: 108px; font-weight: 700; line-height: 108px; margin-bottom: -8px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { #splash .content .intro h1 { font-size: 72px; } }

#splash .content .intro h1 span { color: #4b5364; font-size: 18px; font-weight: 400; letter-spacing: 0; margin-right: 24px; width: 100px; }

#splash .content .intro h2 { color: #8eb673; font-family: "Source Code Pro", monospace; font-size: 28px; font-weight: 400; margin-bottom: 48px; }

#splash .content .intro h2 span { color: #4b5364; font-family: "Source Code Pro", monospace; font-size: 18px; letter-spacing: 0; margin-right: 24px; width: 100px; }

#splash .content .intro i { color: #56b6c2; font-size: 32px; -webkit-transform-origin: center bottom; transform-origin: center bottom; }

@-webkit-keyframes bounce { 0%, 8%, 18%, 30%, 35% { -webkit-transform: translateY(0); transform: translateY(0); }
  15% { -webkit-transform: translateY(-14px); transform: translateY(-14px); }
  23% { -webkit-transform: translateY(-10px); transform: translateY(-10px); } }

@keyframes bounce { 0%, 8%, 18%, 30%, 35% { -webkit-transform: translateY(0); transform: translateY(0); }
  15% { -webkit-transform: translateY(-14px); transform: translateY(-14px); }
  23% { -webkit-transform: translateY(-10px); transform: translateY(-10px); } }

.bounce { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-duration: 3s !important; animation-duration: 3s !important; -webkit-animation-name: bounce; animation-name: bounce; }

#portfolio { background-color: #282c34; padding-top: 48px; position: relative; width: 100%; z-index: 1; }

#portfolio .img-grid { -webkit-box-pack: justify; justify-content: space-between; display: -webkit-box; display: flex; flex-wrap: wrap; margin: 0 auto; width: 888px; }

#portfolio .img-grid .grid-thumb { -webkit-box-align: center; align-items: center; box-sizing: border-box; display: -webkit-box; display: flex; -webkit-box-pack: center; justify-content: center; overflow: hidden; padding: 12px; max-width: calc(50% - 8px); }

#portfolio .img-grid .grid-thumb img { flex-shrink: 0; width: 100%; height: 100%; }

footer { background-color: #282c34; display: -webkit-box; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; padding: 16px; position: relative; width: 100vw; z-index: 1; }

footer .footer-actions { display: -webkit-box; display: flex; -webkit-box-pack: center; justify-content: center; }

footer .footer-actions .footer-orb { background-color: #56b6c2; border-radius: 99px; margin: 16px; padding: 16px; }

footer .footer-actions .footer-orb i { font-size: 36px; }

footer small { font-family: "Lato", sans-serif; padding: 16px; text-align: center; }
