@import url("https://fonts.googleapis.com/css?family=Lato:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
* {
  box-sizing: border-box; }

body {
  background-color: #282c34;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin: 0;
  min-height: 100vh; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Source Code Pro", monospace; }

.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 960px;
  height: 100%; }

header {
  background-color: #282c34;
  height: 5.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; }
  header .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    margin: 0;
    padding: 1rem 2rem;
    height: 100%;
    width: 100%;
    list-style: none; }
    header .nav li {
      margin: 0 0.5rem; }
      @media screen and (max-width: 768px) {
        header .nav li {
          display: none; } }
      header .nav li a {
        color: #ffffff;
        text-decoration: none;
        border-radius: 1.5rem;
        padding: 1rem;
        transition: all 0.2s ease-in-out; }
        header .nav li a:hover {
          color: #56b6c2; }
      header .nav li.highlight a {
        border: 2px solid #ffffff;
        background-color: inherit;
        font-weight: 700; }
        header .nav li.highlight a:hover {
          color: #282c34;
          background-color: #ffffff; }
        header .nav li.highlight a:active {
          color: #4b5364; }
      @media screen and (max-width: 768px) {
        header .nav li.highlight {
          display: inherit; } }

.hero {
  height: 100vh; }
  .hero .wrapper {
    display: flex;
    align-items: center;
    padding: 0 3.5rem; }
  .hero .hero-content {
    display: grid;
    align-items: flex-end;
    grid-template-columns: 3rem auto;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 2rem; }
    .hero .hero-content span {
      color: #4b5364;
      font-family: "Source Code Pro", monospace;
      text-align: right; }
      .hero .hero-content span:first-child {
        grid-area: 1 / 1 / 2 / 2; }
      .hero .hero-content span:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2; }
    .hero .hero-content h1 {
      grid-area: 1 / 2 / 2 / 3;
      color: #d56871;
      font-size: 5rem;
      margin: 0; }
    .hero .hero-content p {
      grid-area: 2 / 2 / 3 / 3;
      color: #8eb673;
      font-family: "Source Code Pro", monospace;
      font-size: 2rem;
      margin: 0; }
    .hero .hero-content .scroll-btn {
      grid-area: 3 / 2 / 4 / 3;
      margin-bottom: -2.5rem; }
      .hero .hero-content .scroll-btn a {
        color: #56b6c2;
        font-size: 32px;
        transform-origin: center bottom;
        transition: 0.2s ease-in-out; }
        .hero .hero-content .scroll-btn a:hover {
          color: #4b5364; }

.portfolio {
  margin: 0;
  padding: 0;
  width: 100%;
  box-shadow: 0 -3px 0 #4b5364; }
  .portfolio #filter-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    width: 100%; }
    .portfolio #filter-bar .filter-btn {
      border: 2px solid #282c34;
      border-radius: 99rem;
      padding: 0.5rem 1rem;
      margin: 0 0.25rem;
      background-color: inherit;
      color: #ffffff;
      font-family: "Lato", sans-serif;
      font-size: 0.8rem;
      font-weight: 700;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      transition: 0.2s ease-in-out; }
      .portfolio #filter-bar .filter-btn:hover {
        color: #d56871;
        cursor: pointer; }
      .portfolio #filter-bar .filter-btn.selected {
        background-color: #ffffff;
        color: #282c34;
        border: 2px solid #ffffff; }
        .portfolio #filter-bar .filter-btn.selected:hover {
          background-color: inherit;
          color: #ffffff; }
  .portfolio .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 1rem; }
    .portfolio .portfolio-grid__thumbnail {
      display: none;
      transition: 0.5s ease-in-out; }
      .portfolio .portfolio-grid__thumbnail:hover {
        cursor: pointer;
        scale: 1.05;
        box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.4); }
      .portfolio .portfolio-grid__thumbnail img {
        width: 100%; }
  .portfolio .show {
    display: block; }

footer {
  margin-top: 2rem;
  width: 100%;
  text-align: center; }
  footer .social-links {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    width: 100%; }
    footer .social-links a {
      color: #ffffff;
      transition: 0.2s all ease-in-out; }
      footer .social-links a:hover {
        cursor: pointer;
        color: #282c34; }
    footer .social-links .social-btn {
      background-color: inherit;
      border: 2px solid #ffffff;
      border-radius: 99px;
      height: 4rem;
      width: 4rem;
      margin: 0 1rem;
      transition: 0.2s all ease-in-out; }
      footer .social-links .social-btn:hover {
        background-color: #ffffff; }
      footer .social-links .social-btn i {
        font-size: 2rem;
        line-height: 3.75rem; }
  footer small {
    padding: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.5px; }

iframe {
  border: none;
  max-height: calc(100vh - 5rem);
  width: 100%;
  padding: 6rem 15% 0 15%; }

@keyframes bounce {
  0%, 8%, 18%, 30%, 35% {
    transform: translateY(0); }
  15% {
    transform: translateY(-14px); }
  23% {
    transform: translateY(-10px); } }

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 3s !important;
  animation-name: bounce; }
